@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TP02.Models.Empleado

<h1>Bienvenido</h1>
<p>Nombre : @Model.Nombre</p>
<p>Apellido : @Model.Apellido</p>
<p>Rol : @Model.Rol</p>
<p>Fecha de ingreso : @Model.Fechadeingreso</p>
<p>Antiguedad : @Model.Antiguedad años</p>
<p>Salario : @Model.Salario</p>